@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho-imagem {
    height: 70px;
}

.cabecalho {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    text-decoration: none;
    color: white;
    font-family: 'exo', sans-serif;
    font-weight: 500;
}

.cabecalho-menu-item:hover {
    color: yellow;
}

.conteudo {
    display: grid;
    height: 800px;
    background-image: url(./images/crianca-feliz.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    max-height: auto;
}

.conteudo-sobrenos {
    position: relative;
    background-image: url(./images/projeto-amarelinhaPattern.jpg);
    background-size: cover;
    height: 600px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40%;
    margin-right: 10%;
}

.conteudo-sobrenos-principal-escrito {
    display: block;
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    height: 300px;
    border-radius: 20px;
}

.conteudo-sobrenos-principal-escrito p {
    font-family: 'exo', sans-serif;
    color: rgb(80, 180, 215);
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    line-height: 30px;
    font-weight: 500;
}


.conteudo-principal-titulo {
    font-family: 'exo', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
}


.conteudo-principal-subtitulo {
    font-family: 'exo', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.conteudo-principal div p {
    font-family: 'exo', sans-serif;
    color: rgb(255, 0, 100);
    font-weight: 400;
    font-size: 20px;
}

.cognito {
    display: block;
    height: 400px !important;
    overflow: hidden !important;
    float: center !important    ;
    
}

.cog-form__content {
    background-color: black !important;
}

.cog-heading {
    color: white !important;
    font-family: 'exo',sans-serif !important;
    font-size: 20px !important;
}

.cog-label {
    color: white !important;
    font-family: 'exo',sans-serif !important;
}

button {
    display: block;
    background-color: rgb(245, 145, 0) !important;
    font-family: 'exo',sans-serif !important;
    margin: 0 auto;
}

.cog-page__navigation, :root:root:root:root:root .cog-page__navigation {
    justify-content: center !important;
}



.cog-header.cog-wrapper, :root:root:root:root:root .cog-header.cog-wrapper {
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: black;  
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.rodape-texto {
    display: block;
    margin: 0 auto;
    font-family: 'exo', sans-serif;
    font-size: 12px;
}

.rodape-texto {
    color: white;
}

.cog-row, :root:root:root:root:root .cog-row {
    justify-content: center;
}

@media (max-width: 1024px) {
    .conteudo-sobrenos-principal-escrito p {
        font-size: 20px;
        line-height: 20px;

    }

    
    .conteudo-sobrenos-principal-escrito {
        display: block;
        position: absolute;
        margin-top:18%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
        background-color: rgba(0, 0, 0, .8);
        height: 300px;
        border-radius: 20px;
    }

@media (max-width: 920px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    .conteudo {
        height: 600px;
    }

    .conteudo-sobrenos-principal-escrito p {
        font-size: 15px;
        line-height: 20px;
        margin-top: 20px;
    }

    .conteudo-sobrenos-principal-escrito {
        margin-top: 10%;
        padding: 20px;
    }

    .conteudo-principal-titulo {
        font-size: 22px;
    }

    .conteudo-principal-subtitulo {
        font-size: 20px;
    }
}



@media (max-width: 520px) {
   .cabecalho-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 10px;
    }

    .conteudo-principal-escrito {
        gap: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .conteudo {
        background-position: center left;
        height: 500px;
    }

    .conteudo-sobrenos-principal-escrito p {
        font-size: 12px;
    }
    .conteudo-sobrenos-principal-escrito {
        height: 330px;
    }

    .conteudo-principal-titulo {
        font-size: 30px;
    }

    .conteudo-principal-subtitulo {
        font-size: 20px;
    }

    .conteudo-principal div p {
        font-size: 15px;
    }

    .cognito {
        height: auto !important;
        padding: 20px;
        margin-right: 5%;

    }

    .cog-branding .cog-branding--minimal {
        visibility: hidden !important;
    }
}

@media (max-width: 425px) {
    .conteudo-sobrenos-principal-escrito p {
        margin-top: 20px;
    }

    .conteudo-sobrenos-principal-escrito {
        height: 350px;
    }
}

@media (max-width: 395px) {
    .conteudo-sobrenos-principal-escrito {
        height: 380px;
    }
}

@media (max-width: 361px) {
 

}

@media (max-width: 325px) {
    .conteudo-principal-titulo {
        font-size: 20px;
    }

    .conteudo {
        height: 450px;
    }
}

@media (max-width: 293px) {
    .conteudo-principal-titulo {
        font-size: 15px;
    }

    .conteudo-principal-subtitulo {
        font-size: 15px;
    }

    .conteudo-sobrenos-principal-escrito {
        height: 450px;
    }
}

@media (max-width: 227px) {

    .conteudo-principal div p {
        font-size: 15px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }
}